@{
    ViewData["Title"] = "Home Page";
}

<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>

<figure class="highcharts-figure">
    <div id="container"></div>
    <p class="highcharts-description">
        
    </p>
</figure>

<head>
    <style>
        p{ text-align:center; font-size: 25px;}
    </style>
</head>

<script>

$(document).ready(function(){

    $.getJSON("test/ChartData", function(data){
        Highcharts.chart('container', {
    chart: {
        plotBackgroundColor: null,
        plotBorderWidth: null,
        plotShadow: false,
        type: 'pie'
    },
    title: {
        text: 'Income vs. Expenses'
    },
    tooltip: {
        pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
    },
    accessibility: {
        point: {
            valueSuffix: '%'
        }
    },
    plotOptions: {
        pie: {
            allowPointSelect: true,
            cursor: 'pointer',
            dataLabels: {
                enabled: true,
                format: '<b>{point.name}</b>: {point.percentage:.1f} %'
            }
        }
    },
    series: [{
        name: 'Brands',
        colorByPoint: true,
        data: [{
            name: 'Income',
            y: data.revenue1,
            sliced: true,
            selected: true
        }, {
            name: 'Expensives',
            y: data.cost1
        }]
    }]
});
    });
});
</script>
        
        <p>Monthly Revenue:</p>
        <p>@Html.DisplayName("Total Income: $")@ViewBag.IncomeTotal</p>   
        <p>@Html.DisplayName("Total Expenses: $")@ViewBag.ExpTotal</p>
        <p> @Html.DisplayName("Revenue: $")@ViewBag.RevTotal</p>
        

               
