@model MWayV2.Models.Budget

@{
    ViewData["Title"] = "Edit";
}



<h1>Edit Expense Item</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="BudgetItemID" />
            <div class="form-group">
                @Html.DisplayName("Expense Group")
                <input asp-for="BudgetGroup" class="form-control" />
                <span asp-validation-for="BudgetGroup" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.DisplayName("Expense Item")
                <input asp-for="BudgetItemName" class="form-control" />
                <span asp-validation-for="BudgetItemName" class="text-danger"></span>
            </div>
            <div class="form-group">
                 @Html.DisplayName("Expense Cost")
                <input asp-for="BudgetItemCost" class="form-control" />
                <span asp-validation-for="BudgetItemCost" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.DisplayName("Payment Time")
                <input asp-for="MonthlyYearly" class="form-control" />
                <span asp-validation-for="MonthlyYearly" class="text-danger"></span>
            </div>
            <div class="form-group">
               
                <input type="hidden" asp-for="IdHolder" class="form-control" />
                <span asp-validation-for="IdHolder" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-primary">Back to List</a>
            </div>

        </form>
    </div>
</div>

<div>
    
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
