@model MWayV2.Models.ToDo

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit To Do Item</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ToDoId" />
            <div class="form-group">
               @Html.DisplayName("Task")
                <input asp-for="ToDoName" class="form-control" />
                <span asp-validation-for="ToDoName" class="text-danger"></span>
            </div>
            <div class="form-group">
               @Html.DisplayName("Description")
                <input asp-for="ToDoDescription" class="form-control" />
                <span asp-validation-for="ToDoDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="IdHolder" class="form-control" />
                <span asp-validation-for="IdHolder" class="text-danger"></span>
            </div>
            @*<div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ToDoIsComplete" /> @Html.DisplayNameFor(model => model.ToDoIsComplete)
                </label>
            </div>*@

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-primary">Back to List</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
